AUTH_OIDC_ISSUER=http://localhost:8080
AUTH_OIDC_CLIENT_ID=
AUTH_OIDC_CLIENT_SECRET=
AUTH_OIDC_CLIENT_KEY_PATH=PATH_TO_GENERATED_APP_KEY_FILE
AUTH_OIDC_TOKEN_URL=
AUTH_OIDC_INTROSPECT_URL=

AUTH_INJECT_JWT_ISSUER=http://localhost:8080
AUTH_INJECT_JWT_KEY_PATH=PATH_TO_GENERATED_ORCHESTRATOR_SERVICE_ACCOUNT_FILE
AUTH_INJECT_JWT_EXTRA_SCOPES=urn:zitadel:iam:org:project:id:GENERATED_PROJECT_ID:aud

AUTH_ROLE_SYNC_JWT_ROLE_CLAIM=urn:zitadel:iam:org:project:GENERATED_PROJECT_ID:roles

AUTHZ_RBAC_RULE_FILE_PATH=PATH_TO_rbac_rule_policy_example
