IAM_ENABLED=true

AUTH_OIDC_ISSUER=http://localhost:8080
AUTH_OIDC_CLIENT_ID=
AUTH_OIDC_CLIENT_SECRET=

AUTH_ROLE_SYNC_JWT_ROLE_CLAIM=urn:zitadel:iam:org:project:GENERATED_PROJECT_ID:roles

AUTHZ_RBAC_RULE_FILE_PATH=PATH_TO/rbac_rule_policy_example.csv

ORCHESTRATOR_AUTH_BEARER_TOKEN=
